:root {
  --red-ifood: rgb(234, 29, 44);
  --gray: rgb(247, 247, 247);
  --black: rgb(62, 62, 62);
}

*,
*::before,
*::after {
  transition: all 500ms cubic-bezier(0, 0.76, 0.37, 1.12);
  font-family: serif;
  box-sizing: border-box; /* Set the sizing of an element to include it's border */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  letter-spacing: -0.025em;
  line-height: 1.5;
  outline: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  margin: 0; /* Set the default margin to 0 */
  padding: 0; /* Set the default padding to 0 */
  margin-bottom: 0.5em;
  text-wrap: balance;
  hyphens: auto;
}

.shopping-cart {
  position: relative;
  display: flex;
  align-items: baseline;
  .badge {
    background-color: var(--red-ifood);
    color: white;
    padding: 5px 10px;
    border-radius: 100%;
    margin-left: 0.3rem;
  }
}

ul[role="list"],
ol[role="list"] {
  list-style: none; /* Turn off numbered and unordered list decoration */
}

html:focus-within {
  scroll-behavior: smooth; /* Make the scrolling inside of any scrollable element smooth */
}

a:not([class]) {
  text-decoration-skip-ink: auto; /* Makes link undelines look better */
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%; /* Makes it responsive */
  height: auto; /* Makes it responsive */
  vertical-align: middle; /* Makes text next to inline images look better */
  font-style: italic; /* If the images don't load it makes the alt decription look better */
  background-repeat: no-repeat;
  /* The background repeat and size are there if you want to load a picture first like a backroung image that is worse quality while the better quality image loads */
  background-size: cover;
}

input,
button,
textarea,
select {
  text-align: left;
  font: inherit; /* Makes these elements inherit fonts */
}

/* Turns off animation for people who don't want to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}

body,
html {
  height: 100%; /* Makes the body element full screen */
  scroll-behavior: smooth; /* Makes normal scrolling smooth */
}

body {
  background-color: #f2f2f2;
  color: #000;
}

.container {
  width: 90%;
  max-width: 1280px;
  margin-inline: auto;
}

header {
  padding-top: 1rem;
  background-color: #fff;
  .container {
    padding: 0;
  }
  .row {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

a[href="/"] {
  text-transform: uppercase;
  margin-bottom: 2rem;
  display: block;
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--red-ifood);
}

.page-title {
  color: var(--red-ifood);
}

h1 {
  font-weight: 100;
  font-size: clamp(3.125rem, 3.464vw + 2.229rem, 5rem);
  line-height: clamp(4.688rem, 3.349vw + 3.821rem, 6.5rem);
}

.grid {
  --max: 280px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--max), 1fr));
  grid-gap: 1rem;
  margin: 3rem 0;
  & > * {
    padding: 1rem;
    // border: 1px solid currentColor;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.05);
    will-change: background, scale, box-shadow, color;
    &:hover,
    &:focus,
    &:focus-within {
      scale: 0.98;
      box-shadow: 0px 10px 40px 5px rgba(0, 0, 0, 0.1);
      box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
      border: 2px solid var(--red-ifood);
      background-color: #fff;
    }
  }
}

.counter {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 0;
  align-items: baseline;
  & button {
    background-color: transparent;
    color: var(--black);
    border: 0;
    border-radius: 1000px;
    width: 40px;
    height: 40px;
    text-align: center;
    &:hover,
    &:focus {
      background-color: var(--red-ifood);
      color: white;
      outline: 0;
    }
  }
}

.small-details {
  text-transform: uppercase;
  font-size: 0.75em;
  &:not(:last-child)::after {
    content: " • ";
    font-size: 1rem;
  }
}

section {
  margin-top: 4rem;
}

p {
  font-size: 0.9em;
}

.restaurant-box {
  .details {
    display: flex;
    // justify-content: space-between;
    gap: 10px;
    align-items: baseline;
  }
}

.intro {
  font-size: 1.7rem;
  opacity: 0.6;
  line-height: 1.2;
  font-weight: 200;
}

h1,
h2,
h3 {
  margin-bottom: 0.1em;
}

.price {
  margin-top: 1rem;
  font-size: 1.1rem;
}

small {
  font-size: 0.9em;
  font-weight: 200;
}

input {
  display: block;
  width: 100%;
  padding: 0.8rem;
  border-radius: 8px;
  background: transparent;
  border: 0;
  border: 2px solid transparent;
  margin: 1rem 0;
  padding-left: 3rem;
  border: 2px solid rgba(0, 0, 0, 0.05);
  &:focus {
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    transform: scale(0.99);
    background-color: var(--gray);
    border: 2px solid var(--red-ifood);
    & + label {
      opacity: 1;
      margin-left: 1.2rem;
    }
  }
  & + label {
    position: absolute;
    font-size: 1.6rem;
    margin-left: 1rem;
    margin-top: -4rem;
    opacity: 0.5;
  }
}

header .row a {
  font-size: 3rem;
}

form {
  margin-top: 3rem;
  max-width: 400px;
}
